.place__title {
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    margin: 0;
    margin-bottom: 48px;
    max-width: 460px;
}

@media (max-width: 1024px) {
    .place__title {
        max-width: 440px;
    }
}

@media (max-width: 940px) {
    .place__title {
        max-width: 340px;
        font-size: 42px;
    }

    .place__title:first-child {
        padding-right: 30px;
        line-height: 46px;
    }
}

@media (max-width: 740px) {
    .place__title {
        margin-bottom: 0;
    }
}

@media (max-width: 322px) {
    .place__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
        padding-left: 16px;
    }
}