.photo-grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 92px;
    gap: 16px;
    padding: 0;
    max-width: 1184px;
}

@media (max-width: 1279px) {
    .photo-grid {
        max-width: 928px;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(3, 1fr);
        gap: 14px;
    }
}


@media (max-width: 1023px) {
    .photo-grid {
        max-width: 720px;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        margin-top: 88px;
    }
}

@media (max-width: 727px) {
    .photo-grid {
        max-width: 288px;
        grid-template-rows: repeat(12, 1fr);
        grid-template-columns: 288px;
        gap: 12px;
        margin-top: 64px;
    }
}