.header {
  max-width: 1184px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .header {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 320px) {
  .header {
    max-width: 320px;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
}