.place__paragraphs {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    text-align: start;
    margin: 0;
    margin-left: 40px;
    max-width: 484px;
}

@media (max-width: 1024px) {
    .place__paragraphs {
        max-width: 456px;
        margin-left: 12px;
    }
}

@media (max-width: 820px) {
    .place__paragraphs {
        padding-right: 15px;
    }
}

@media (max-width: 768px) {
    .place__paragraphs {
        max-width: 352px;
        margin-left: 6px;
        padding-right: 0;
    }
}

@media (max-width: 740px) {
    .place__paragraphs {
        margin: 0;
        margin-top: 32px;
        min-width: 288px;
    }
}

@media (max-width: 340px) {
    .place__paragraphs {
        padding-left: 16px;
    }
}