.footer__link {
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    line-height: 1.1;
    margin: 0;
    padding: 0;
    margin-right: 18px;
}

@media (max-width: 724px) {
    .footer__link {
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;
    }
    .footer__link:last-child {
        margin-bottom: 0;
    }
}