.lead__subtitle {
    margin: 0;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    text-align: center;
    color: #FFF;
    max-width: 540px;
}

@media (max-width: 767px) {
    .lead__subtitle {
        max-width: 288px;
        width: 100%;
        font-size: 16px;
        line-height: 20px;
    }
}