.cover__overlay {
    background-image: url('../../../images/__background-image.png');
    background-size: cover;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1184px;
    width: 100%;
    min-height: 740px;
    aspect-ratio: 1.6;
    align-items: center;
    position: relative;
    z-index: 0;
}

.cover__overlay:before {
    background: #2A2C2F;
    background-position: center;
    opacity: 0.3;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.cover__overlay:hover::before {
    opacity: 0.8;
}

@media (max-width: 768px) {
    .cover__overlay {
        max-width: 768px;
        width: 100%;
        min-height: 480px;
        height: 100%;
    }
}

@media (min-width: 320px) and (max-width: 340px) {
    .cover__overlay {
        max-width: 320px;
        width: 100%;
        min-height: 200px;
        height: 100%;
    }
}