.cover__overlay {
    background-image: url('../../../images/__background-image.png');
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1184px;
    width: 100%;
    min-height: 740px;
    align-items: center;
    position: relative;
    z-index: 0;
    background-size: cover;
}

.cover__overlay:before {
    background: #2A2C2F;
    background-position: center;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.4;
    transition: 0.3s;
}

.cover__overlay:hover::before {
    opacity: 0.8;
}

@media screen and (max-width: 1024px) {
    .cover__overlay {
        min-height: 640px;
    }
}
@media screen and (max-width: 768px) {
    .cover__overlay {
        min-height: 480px;
    }

}
@media screen and (max-width: 320px) {
    .cover__overlay {
        min-height: 200px;
    }

}