.cover__title {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-family: Inter;
    font-weight: 900;
    line-height: 1.1;
    max-width: 560px;
    min-height: 152px;
    z-index: 1;
}