.place {
    margin: 0;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 460px 1fr;
    max-width: 984px;
}

.place:last-child {
    margin-bottom: 0;
}

@media (max-width: 940px) {
    .place {
        margin-bottom: 73px;
        grid-template-columns: 360px 1fr;
        padding-left: 10px;
    }
}

@media (max-width: 768px) {
    .place {
        padding: 0;
    }
}

@media (max-width: 740px) {
    .place {
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        grid-template-columns: 1fr;
        max-width: 320px;
    }
}