.place__website {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
    margin-left: 40px;
    margin-bottom: 48px;
    padding: 0;
    max-width: 456px;
}

@media (max-width: 1024px) {
    .place__website {
        margin-left: 12px;
    }
}

@media (max-width: 768px) {
    .place__website {
        margin-left: 6px;
        max-width: 352px;
    }
}

@media (max-width: 740px) {
    .place__website {
        margin-top: 32px;
    }
}

@media (max-width: 340px) {
    .place__website {
        margin-bottom: 32px;
        max-width: 288px;
        padding-left: 16px;
    }
}

